# Modelos de ML

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

<frozen importlib._bootstrap>:219: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

In [2]:
# Lendo a base de dados com as vari√°veis dummies

dados = pd.read_csv('../../dados/dados_OneHotEncoder.csv')
dados.head()

,usableAreas,bedrooms,bathrooms,parkingSpaces,suites,yearlyIptu,monthlyCondoFee,price,unitTypes_ALLOTMENT_LAND,unitTypes_APARTMENT,...,unitTypes_RESIDENTIAL_BUILDING,unitTypes_SHED_DEPOSIT_WAREHOUSE,unitTypes_TWO_STORY_HOUSE,unitTypes_VILLAGE_HOUSE,usageTypes_COMMERCIAL,usageTypes_RESIDENTIAL,zone_Zona Central,zone_Zona Norte,zone_Zona Oeste,zone_Zona Sul
0,5.017280,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.160804,0,0,...,0,0,0,0,0,1,0,0,1,0
1,3.761200,1.098612,0.693147,0.000000,0.000000,4.615121,5.993961,9.825580,0,1,...,0,0,0,0,0,1,1,0,0,0
2,3.871201,1.098612,1.098612,0.000000,0.693147,5.247024,6.214608,9.680406,0,1,...,0,0,0,0,0,1,1,0,0,0
3,3.761200,1.098612,0.693147,0.000000,0.000000,4.615121,5.993961,9.705098,0,1,...,0,0,0,0,0,1,1,0,0,0
4,3.737670,1.098612,0.693147,0.693147,0.000000,0.000000,0.000000,9.852247,0,1,...,0,0,0,0,0,1,0,0,1,0

## Dividindo em treino e teste

In [3]:
X = dados.drop('price', axis=1)
y = dados['price']

In [6]:
SEED = 42

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=SEED, )

## Regress√£o linear

In [8]:
import statsmodels.api as sm

X_train_constante = sm.add_constant(X_train)
X_train_constante

,const,usableAreas,bedrooms,bathrooms,parkingSpaces,suites,yearlyIptu,monthlyCondoFee,unitTypes_ALLOTMENT_LAND,unitTypes_APARTMENT,...,unitTypes_RESIDENTIAL_BUILDING,unitTypes_SHED_DEPOSIT_WAREHOUSE,unitTypes_TWO_STORY_HOUSE,unitTypes_VILLAGE_HOUSE,usageTypes_COMMERCIAL,usageTypes_RESIDENTIAL,zone_Zona Central,zone_Zona Norte,zone_Zona Oeste,zone_Zona Sul
30849,1.0,5.351858,1.386294,1.609438,1.098612,1.386294,7.972811,6.720220,0,0,...,0,0,0,0,0,1,0,0,1,0
16468,1.0,4.477337,1.386294,1.098612,0.693147,0.693147,7.003974,6.660575,0,1,...,0,0,0,0,0,1,0,0,1,0
7552,1.0,4.343805,1.386294,1.386294,0.693147,0.693147,5.860786,6.478510,0,1,...,0,0,0,0,0,1,0,0,1,0
53272,1.0,5.811141,1.609438,1.945910,1.386294,1.609438,9.305741,8.268988,0,1,...,0,0,0,0,0,1,0,0,1,0
31454,1.0,4.787492,1.386294,1.791759,1.098612,1.386294,0.000000,0.000000,0,1,...,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54343,1.0,5.874931,1.609438,1.609438,0.693147,1.098612,7.003974,8.160804,0,1,...,0,0,0,0,0,1,0,0,0,1
38158,1.0,4.574711,1.386294,0.693147,0.000000,1.098612,7.591357,6.857514,0,1,...,0,0,0,0,0,1,0,0,0,1
860,1.0,3.806662,1.098612,0.693147,0.693147,0.000000,0.000000,0.000000,0,1,...,0,0,0,0,0,1,0,0,1,0
15795,1.0,4.330733,1.098612,0.693147,0.000000,0.000000,4.744932,3.931826,0,1,...,0,0,0,0,0,1,0,0,0,1
56422,1.0,5.831882,1.609438,1.098612,1.098612,0.693147,7.496097,8.071219,0,1,...,0,0,0,0,0,1,0,0,0,1

In [9]:
# step wise regression

modelo_statsmodels = sm.OLS(y_train, X_train_constante, hasconst=True).fit()
print(modelo_statsmodels.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.810
Model:                            OLS   Adj. R-squared:                  0.810
Method:                 Least Squares   F-statistic:                     5198.
Date:                Thu, 26 May 2022   Prob (F-statistic):               0.00
Time:                        00:53:03   Log-Likelihood:                -21362.
No. Observations:               40147   AIC:                         4.279e+04
Df Residuals:                   40113   BIC:                         4.308e+04
Df Model:                          33
Covariance Type:            nonrobust
========================================================================================================
                                           coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------
const                                    5.0116      0.022    226.085      0.000       4.968       5.055
usableAreas                              0.7876      0.005    144.226      0.000       0.777       0.798
bedrooms                                -0.0496      0.011     -4.318      0.000      -0.072      -0.027
bathrooms                                0.1146      0.008     13.495      0.000       0.098       0.131
parkingSpaces                            0.2755      0.007     41.376      0.000       0.262       0.289
suites                                   0.3751      0.007     55.651      0.000       0.362       0.388
yearlyIptu                               0.0198      0.001     20.253      0.000       0.018       0.022
monthlyCondoFee                          0.0105      0.001      8.964      0.000       0.008       0.013
unitTypes_ALLOTMENT_LAND                -0.0597      0.069     -0.869      0.385      -0.194       0.075
unitTypes_APARTMENT                      0.7015      0.044     15.987      0.000       0.615       0.787
unitTypes_BUILDING                       0.0918      0.095      0.969      0.332      -0.094       0.277
unitTypes_BUSINESS                       0.3387      0.058      5.824      0.000       0.225       0.453
unitTypes_COMMERCIAL_ALLOTMENT_LAND      0.1385      0.097      1.421      0.155      -0.053       0.330
unitTypes_COMMERCIAL_BUILDING            0.1183      0.079      1.499      0.134      -0.036       0.273
unitTypes_COMMERCIAL_PROPERTY            0.4684      0.076      6.133      0.000       0.319       0.618
unitTypes_CONDOMINIUM                    0.3407      0.045      7.607      0.000       0.253       0.429
unitTypes_COUNTRY_HOUSE                 -0.1306      0.182     -0.719      0.472      -0.487       0.226
unitTypes_FARM                          -0.6880      0.091     -7.601      0.000      -0.865      -0.511
unitTypes_FLAT                           1.1347      0.052     21.908      0.000       1.033       1.236
unitTypes_HOME                           0.2699      0.044      6.156      0.000       0.184       0.356
unitTypes_HOTEL                         -0.9874      0.234     -4.217      0.000      -1.446      -0.528
unitTypes_KITNET                         0.9240      0.068     13.660      0.000       0.791       1.057
unitTypes_LOFT                           0.9730      0.232      4.198      0.000       0.519       1.427
unitTypes_OFFICE                         0.3840      0.054      7.059      0.000       0.277       0.491
unitTypes_PARKING_SPACE                 -0.6502      0.398     -1.633      0.102      -1.431       0.130
unitTypes_PENTHOUSE                      0.5764      0.044     12.960      0.000       0.489       0.664
unitTypes_RESIDENTIAL_ALLOTMENT_LAND    -0.4128      0.054     -7.715      0.000      -0.518      -0.308
unitTypes_RESIDENTIAL_BUILDING           0.3499      0.281      1.247      0.212      -0.200       0.900
unitTypes_SHED_DEPOSIT_WAREHOUSE        -0.2666      0.082     -3.259      0.001      -0.427      -0.106
unitTypes_TWO_STORY_HOUSE                0.7856      0.282      2.783      0.005       0.232       1.339
unitTypes_VILLAGE_HOUSE                  0.6114      0.084      7.246      0.000       0.446       0.777
usageTypes_COMMERCIAL                    2.6905      0.039     68.248      0.000       2.613       2.768
usageTypes_RESIDENTIAL                   2.3211      0.036     64.647      0.000       2.251       2.391
zone_Zona Central                        1.1072      0.014     77.888      0.000       1.079       1.135
zone_Zona Norte                          0.9879      0.008    129.194      0.000       0.973       1.003
zone_Zona Oeste                          1.0873      0.007    150.645      0.000       1.073       1.101
zone_Zona Sul                            1.8292      0.008    234.680      0.000       1.814       1.844
==============================================================================
Omnibus:                     4563.427   Durbin-Watson:                   2.009
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            41227.651
Skew:                          -0.172   Prob(JB):                         0.00
Kurtosis:                       7.953   Cond. No.                     1.05e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.79e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [10]:
reg_linear = LinearRegression(n_jobs=-1).fit(X_train, y_train)

In [11]:
reg_linear.score(X_train, y_train)

0.8104592371422159

Criando uma fun√ß√£o para obter as m√©tricas dos modelos de regress√£o como um DataFrame.

In [12]:
# Criando um dicion√°rio com as m√©tricas para usar em um dataframe

def df_metrics_regression(modelo, X_test, y_test):
    mae = metrics.mean_absolute_error(y_test, modelo.predict(X_test))
    mse = metrics.mean_squared_error(y_test, modelo.predict(X_test))
    rmse = np.sqrt(mse)
    r2 = metrics.r2_score(y_test, modelo.predict(X_test))
    return pd.DataFrame({'MAE': [mae], 'MSE': [mse], 'RMSE': [rmse], 'R2': [r2]})

In [13]:
metricas_reg_linear = df_metrics_regression(reg_linear, X_test, y_test)
metricas_reg_linear

        MAE       MSE      RMSE        R2
0  0.315061  0.181675  0.426233  0.798996

## Regressor da √Årvore de Decis√£o

Vamos utilizar a valida√ß√£o cruzada para avaliarmos obtermos um valor mais generalista para o nosso modelo.

A utiliza√ß√£o do KFold com shuffle foi nescess√°ria pois o conjunto de dados est√° ordernado em ordem crescente de pre√ßo e ao fazer a valida√ß√£o cruzada h√° problemas pois a parte utilzada para teste n√£o aprendeu a generalizar para aquele fold.

A m√©trica padr√£o retornada pelo `.DecisionTreeRegressor()` √© o R2.

In [14]:
from sklearn.model_selection import KFold

kf = KFold(n_splits=5, shuffle=True, random_state=SEED)

regressor = DecisionTreeRegressor(random_state=SEED, max_depth=3)
cross_val_score(regressor, X, y, cv=kf).mean()

0.6812426670866323

Ou seja, dividindo o conjunto de dados em 5 folds e calculando a m√©dia dos resultados do R2 obtemos um valor de 0.68.

Vamos analisar como o modelo se comporta para o conjunto de dados separados para teste.

In [15]:
regressor.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=3, random_state=42)

In [16]:
metricas_dt_reg = df_metrics_regression(regressor, X_test, y_test)
metricas_dt_reg

        MAE      MSE      RMSE        R2
0  0.408237  0.28767  0.536349  0.681724

## Regressor de Floresta Aleat√≥ria

Realizando a mesma an√°lise para o modelo de √°rvore aleat√≥ria:

In [17]:
from sklearn.model_selection import KFold

kf = KFold(n_splits=5, shuffle=True, random_state=SEED)

rf_reg = RandomForestRegressor(max_depth=3, random_state=SEED)
cross_val_score(rf_reg, X, y, cv=kf).mean()

0.7074251415820962

In [18]:
rf_reg.fit(X_train, y_train)

RandomForestRegressor(max_depth=3, random_state=42)

In [19]:
metricas_rf_reg = df_metrics_regression(rf_reg, X_test, y_test)
metricas_rf_reg

        MAE       MSE      RMSE        R2
0  0.389545  0.264735  0.514524  0.707099

## Analisando os resultados dos modelos:

In [24]:
metricas_modelos = pd.concat([metricas_reg_linear.T, metricas_dt_reg.T, metricas_rf_reg.T], axis=1)
metricas_modelos.columns = ['Linear Regression', 'Decision Tree', 'Random Forest']
metricas_modelos.head()

      Linear Regression  Decision Tree  Random Forest
MAE            0.315061       0.408237       0.389545
MSE            0.181675       0.287670       0.264735
RMSE           0.426233       0.536349       0.514524
R2             0.798996       0.681724       0.707099

Logo o modelo que apresentou melhor desempenho foi o modelo de regress√£o linear.